.active_block_item {
    display: flex;
    flex-direction: row;
    margin: 15px 0;

display: flex;
align-items: center;

color: #53545C;
}

.active_block_item h2 {
    font-size: 20px;
line-height: 24px;
}
.item_title {
    color: #53545C;
    font-weight: 600;
font-size: 16px;
line-height: 19px;
padding-right: 20px;
}

.active_block_vacansie {
    width: 60%;
    margin: 20px 0 0 70px;
}

.name_vacancie{
    display: flex;
}
.active_block_resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0 0 70px;
}

.active_files {
    margin-left: 0%;
}

.active_info {
    margin-right: 10%;
}

.favourite2{
    width: 50px;
    height: 50px;
    padding-left: 20px;
    cursor: pointer;
}

.send_request_vacansie {
    position: relative;
}

.send_request_resume {
    position: relative;
}
