.form_resume {
    /* column-count: 2; */
    display: flex;
    line-height: 30px;
    width: 87% !important; 
    position: relative;
    flex-direction: row;
    padding: 40px ;
}

.form_resume input[type=text]  {
    height: 10px;
    border: 1px solid #CFD3D5;
    border-radius: 8px;
    font-size: 14px;
    width: 90%;
}

input[type=file]{
    padding: 100px;
    width: 375px;
    height: 10px;
    /* border: 1px dashed #CFD3D5; */
    border-radius: 8px;
    font-size: 14px;
}

input[accept]{
    padding: 11px 24px;
    width: 375px;
    height: 80px;
    border: 1px dashed #CFD3D5;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #E58025;
}

.create_resume{
    margin-left: 85%;
}


.download_fields {
    padding-top: 10% 0 0 10% !important;
}

.photo {
    width: 200px;
    height: 250px;
}


.create_res {
    padding: 150px;
}

.field_input {
    width: 100%;
}

.input_mail_res {
    width: 100px;
    /* margin-left: 75px; */
}

.input_mail_res_edit {
    width: 40%;
    margin-left: 115px;
}

/* .input_dep_res {
    margin-left: 25px;
} */

/* .input_dep_res_edit {
    margin-left: 58px;
}
 */
.input_salary_res {
    /* margin-left: 5px; */
    display: block;
}

/* .input_salary_res_edit {
    margin-left: 5px;
    display: block;
} */

/* .input_exp_res {
    margin-left: 45px;
}
 */
/* .input_exp_res_edit {
    margin-left: 57px;
} */

.input_text_res {
    width: 400px;
    /* margin-left: 80px; */
    height: 200px;
}

.input_text_res_edit {
    width: 60%;
    /* margin-left: 105px; */
    height: 200px;
}

.checkbox-block {
    display: flex;
    flex-direction: column;
}

.checkbox-block .checkbox-item {
    margin-left: 170px;
    margin-top: -5px;
}

.survey {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 359px;
}

.survey h3 {
    font-size: 20px;
    color: #000;
}

.survey p {
    font-size: 14px;
    line-height: 17px;
    
}

.survey .grey {
    margin-top: 20px;
    width: 110px;
}

.css-13cymwt-control{
    width: 85%;
    border: 1px solid #CFD3D5;
    border-radius: 8px;
    text-align:justify;
    font-size: 14px;
    color: #ABAFB1;
    padding-right: 15px !important;
    /* background-image: url(../imgs/search.png);
    background-repeat: no-repeat;
    background-position: 2% 50%; */
    font-weight: 100 !important;
}

