
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #FDFCFC;
    /* padding-bottom: 50px; */
    font-family: 'Inter', sans-serif;
    /* padding-bottom: 10%; */
    overflow-x: hidden;
    
}

textarea {
    font-family: 'Inter', sans-serif;
    line-height: 22px;
    display: block;
    padding: 5px ;
}

.app_container {
    display: flex;
    
}

.main_container {
    padding-top: 100px;
}

.container {
    width: 90%;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-top: 100px;
    height: 100vh;
}

p {
    line-height: 28px;
}
a {
    text-decoration: none;
    color: #000
}

.soft {
    color: orangered
}

.hard {
    color: blue
}

.good {
    position: relative;
    top: 50px;
    right: 100px
}



@import url(./vacansies.css);
@import url(./vacansieItem.css);
@import url(./addvacansie.css);
@import url(./addresume.css);
@import url(./sidebar.css);
@import url(./header.css);
@import url(./profile.css);
@import url(./auth.css);
@import url(./openblock.css);
@import url(./requests.css);
@import url(./sorts.css);
@import url(./buttons.css);
@import url(./active.css);
@import url(./alerts.css);