* {
    margin: 0;
    padding: 0;
}

.app {
    background-color: FDFCFC;
    /* padding-left: 70px; */
    padding-bottom: 50px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 20%;
}

.is-active {
    font-size: 20px;
    background-color: blue;
}

.sidebar {
    text-decoration: none;
    padding-left: 70px;
    width: 10%;
    padding-right: 60px;
    /* background: linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    height: 100vh; */
    /* position:absolute; */
    top:0;
    left: 0

}

.header {
    padding: 10px 0;
    font-size: 20px;
}

.app_container {
    display: flex;
}

.container {
    width: 90%;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: #000
}

a:hover {
    color: #E58025
}

@import url(./vacansies.css);
@import url(./vacansieItem.css);
@import url(./addvacansie.css);
@import url(./addresume.css);
@import url(./sidebar.css);
@import url(./header.css);
@import url(./profile.css);
@import url(./auth.css);
@import url(./openblock.css);
@import url(./requests.css)