* {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #FDFCFC;
    padding-bottom: 50px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 10%;
    overflow-x: hidden;
    
}

textarea {
    font-family: 'Inter', sans-serif;
    line-height: 22px;
    display: block;
    padding: 5px ;
}

.app_container {
    display: flex;
    
}

.main_container {
    padding-top: 100px;
}

.container {
    width: 95%;
    padding-left: 100px;
    padding-bottom: 15%;
    padding-top: 100px;
}

p {
    line-height: 28px;
}
a {
    text-decoration: none;
    color: #000
}

/* a:hover {
    color: #E58025
} */

@import url(./vacansies.css);
@import url(./vacansieItem.css);
@import url(./addvacansie.css);
@import url(./addresume.css);
@import url(./sidebar.css);
@import url(./header.css);
@import url(./profile.css);
@import url(./auth.css);
@import url(./openblock.css);
@import url(./requests.css);
@import url(./sorts.css);
@import url(./buttons.css);
@import url(./active.css)