* {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #F5F5F5;
    /* padding-left: 70px; */
    padding-bottom: 50px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 20%;
}

.is-active {
    font-size: 20px;
    background-color: blue;
}

.sidebar {
    text-decoration: none;
    padding-left: 70px;
    width: 10%;
    padding-right: 60px;
    
}

.header {
    padding: 10px 0;
    font-size: 20px;
}

.app_container {
    display: flex;
}

.container {
    width: 90%;
}

a {
    text-decoration: none;
    color: #000
}

@import url(./vacansies.css);
@import url(./vacansieItem.css);
@import url(./addvacansie.css);
@import url(./addresume.css);
@import url(./sidebar.css);
@import url(./header.css);
@import url(./profile.css)