.auth-page {
    background: radial-gradient(95.17% 162.22% at 8.75% 4.83%, #FFEDEF 0%, #FFCEA3 100%) ;
    display: flex;
    padding: 20px 70px ;
    width: 100vw;
    /* height: 100vh; */

}

.login, .register {
    /* background: radial-gradient(95.17% 162.22% at 8.75% 4.83%, #FFEDEF 0%, #FFCEA3 100%) ; */
    display: flex;
    flex-direction: row;
    width: 80%;
}

.auth_form {
    background: linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 40px;
    padding: 80px 50px;
    width: 400px;
}


.logo  {
    width: 270px;
    height: 45px;
}

.list_auth {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-around;
    
}

.plitka {
    display: flex;
    justify-content: center;
    position: auto;
    
    padding-top: 150px;
}

.plitka img {
    width: 90%;
    height: 80%;
}

.input_auth {
    background: linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #CFD3D5;
    border-radius: 6px;
    height: 30px;
    margin: 10px 0;
    padding-left: 10px;
    width: 115%
}

.input_reg {
    background: linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #CFD3D5;
    border-radius: 6px;
    height: 30px;
    margin: 10px 0;
    padding-left: 10px;
    width: 115%
}

.list_auth {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-around;
    color: #ABAFB1;
}

.password {
    /* padding-right: 180px; */
    background-image: url('/src/imgs/lock.png');
    background-repeat: no-repeat;
    background-position: 2% 50% ;
    text-align: start;
    padding-left: 30px;
    width: 110%;
} 

.log {
    text-align: start;
    padding-left: 30px;
}

.auth_item {
    /* margin-right:25px; */
    padding: 5px 30px;
}

.auth {
    margin-left:40px;
    margin-right: 10%;
}

.activate_item {
    background: linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    margin-top: 70px;
    padding: 20px 10px;
    border: 1px solid #AE601B;
    border-radius: 6px;
    color: #5E6366;
    font-weight: 500;
    font-size: 18px;
}

.recover_item {
    background: linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    margin-top: 70px;
    padding: 20px 10px;
    border: 1px solid #AE601B;
    border-radius: 6px;
    color: #5E6366;
    font-weight: 500;
    font-size: 18px;
    width: 380px;
}

.input_recover {
    background: linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #CFD3D5;
    border-radius: 6px;
    height: 30px;
    margin: 10px 16%;
    padding-left: 10px;
    width: 60%;
}
