.info img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 0;
    font-size: 20px;
    margin-bottom: 20px;
    /* background-color: #E68025; */
    box-shadow: 0px 4px 24px rgba(204, 100, 6, 0.3);
    opacity: .8;
    /* position:static; */
}

.info {
    display: flex;
    flex-direction: row;
}

h4 {
    color: #fff;
}

.menu_close {
    margin-left: 100px;
    background-image: url('/src/imgs/menu_open.png');
    cursor: pointer;
    width: 40px;
    
}