h3 {
    color:  #E58025;
    margin-bottom: 20px;
}

.name_user{
    font-weight: 500;
    font-size: 20px;
    color: #53545C;
    line-height: 30px;
    padding-top: 20px;
}

.name_role{
    font-weight: 400;
    font-size: 18px;
    color: #ABAFB1;
    line-height: 30px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 43px 43px;
    margin-top: 20px;
    width: 50vw;
    height: 55vh;
    background: linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    backdrop-filter: blur(75px);;
    border: 1px solid #ffcda24f;
    border-radius: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 50px;
    width: 25vw;
    height: 15vh;
    border: 1px solid #ffcda24f;
    backdrop-filter: blur(40px);
    border-radius: 20px;
}

.buttons_profile{
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    /* margin-top: 8%; */
    /* width: 27vw; */

}


.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    border: 1px solid #ffcda24f;
}

.form_photo{
    display: flex;
    width: 48vw;
    height: 250px;
    justify-content: space-between;
}


.edit_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px;
    gap: 8px;
    margin-bottom: 5%;
}
.edit_data{
    /*  display: flex;
     flex-direction: column;
     align-items: flex-start; */
     padding: 25px;
     gap: 50px;
     width: 25vw;
     height: 30vh;
     border: 1px solid #ffcda24f;
     backdrop-filter: blur(40px);
     border-radius: 20px;
     
 }

.save_profile {
    margin-top: 5%;
} 

.edit_form input {
    padding: 10px 5px;
    height: 10px;
    border: 1px solid #CFD3D5;
    border-radius: 8px;
    font-size: 14px;
}