.request-item {
    background:  linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #ffcda24f;
    margin-top: 20px;
    padding: 20px 50px;
    width: 700px;
    border-radius: 10px;
    margin-right: 50px;
}

.send_alert {
    display: none;
}

.request-hover:hover .send_alert_resume {
    display: block;
}

.request-hover:hover .send_alert_vacansie {
    display: block;
}

.no-requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0 0;
    gap: 13px;
    width: fit-content;
}

.no-requests p {
    font-size: 14px;
    color: #8B8D97;
    margin-bottom: 10px;
}

.no-requests h3 {
    font-size: 20px;
    color: #000;
}

.no-requests .orange {
    align-items: center;
}
