.request-item {
    background:  linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #ffcda24f;
    margin-top: 20px;
    padding: 20px 50px;
    width: 700px;
    border-radius: 10px;
    margin-right: 50px;
}

.send_alert {
    display: none;
}

.send_request_resume:hover .send_alert_resume {
    display: block;
}

.send_request_vacansie:hover .send_alert_vacansie {
    display: block;
}

.send_alert_vacansie {
    margin-top: 10px;
    margin-left: 58%;
    display: none;
    border: 2px dashed #CFD3D5;
    border-radius: 8px;
    padding: 7px;
    width: 360px;
    /* background-image: url('/src/imgs/send_request.png');
    background-repeat: no-repeat;
    background-position: 50% 50% ; */
}

.send_alert_resume {
    margin-top: 10px;
    margin-left: 78%;
    display: none;
    border: 2px dashed #CFD3D5;
    border-radius: 8px;
    padding: 7px;
    width: 360px;
}