.sidebar li{

    padding: 10px;
    
    border-radius: 12px;
    width: 100px;
    list-style-type: none;
    font-size: 16px;
    /* margin-bottom: 5px; */
    display: inline-flex;
    flex-direction: row;
}

.sidebar {
    text-decoration: none;
    padding-left: 40px;
    width: 13%;
    padding-right: 40px;
    top:0;
    left: 0

}


/* .sidebar_btn {
    background: linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    backdrop-filter: blur(75px);
    border: 1px solid #E58025;
    border-radius: 12px;
    color: #fff;
} */

.sidebar {
    position: absolute;
    background: linear-gradient(180deg, rgba(254, 222, 201, 0.56) 0%, rgba(254, 222, 201, 0) 107.03%);
    border: 0.5155px solid rgba(245, 239, 235, 0.4);
    box-shadow: 0px 0px 65.984px -32.992px rgba(202, 112, 32, 0.56);
    backdrop-filter: blur(82.48px);
    top: 0px;
    height: 100vh;
    z-index: 500;
}

.menu_open {
    background-image: url('/src/imgs/menu_close.png');
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 90%
}

.vacansies_icon {
    width: 40px;
    background-image: url('/src/imgs/vacansies.png');
    background-repeat: no-repeat;
    background-position: 5% 50% ;
}

.resumes_icon {
    width: 40px;
    background-image: url('/src/imgs/resumes.png');
    background-repeat: no-repeat;
    background-position: 5% 50% ;
}

.requests_icon {
    width: 40px;
    background-image: url('/src/imgs/requests.png');
    background-repeat: no-repeat;
    background-position: 5% 50% ;
}

.sidebar_link {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 5px;
    padding-left: 5px;
    
}

.sidebar_link a {
    color: #53545C;
    font-size: 18px;
    text-align: center;
    /* margin: auto 0; */
    padding-top: 5%;
}

.sidebar_link a:hover {
    color: #000
}

.sidebar_link:hover {
    background: rgba(36, 34, 32, 0.04);
border: 0.5155px solid rgba(245, 239, 235, 0.16);
border-radius: 12.372px;
}

.role{
    font-weight: 400;
    font-size: 14px;
    color: #ABAFB1;
    line-height: 30px;
    margin-top: 10px;
}

.logo_sidebar  {
    margin-top: 210%;
    width: 190px;
    height: 32px;
}