.search{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* width: 90%; */
    font-size: 12px;
}

input[type=text], textarea {
    /* padding: 10px 0 10px 35px;
    width: 25%; */
    height: 20px;
    border: 1px solid #CFD3D5;
    border-radius: 8px;
    font-size: 14px;
}

.search_input {
    width: 40%;
}

.sort_block {
    z-index: -5;
    width: 97%;
}
.sorts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -10;
    padding: 20px 0;
    margin-top: 10px;
    /* width: 92%; */
}

.sorts_btns {
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /* z-index: -5; */
}

.sorts_btns_resume {
    margin-right: 9%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    /* z-index: -5; */
}

.parametr{
    width: 256px;
    /* height: 35px; */
    padding: 10px 0;
    border: 1px solid #CFD3D5;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    /* margin-right: 10%; */
    color:#ABAFB1

}

.last {
    margin-right: 0
}

.btn_sorts{
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* gap: 30px; */
}

.sort {
    padding-right: 50px;
    background-image: url('/src/imgs/sort.png');
    background-repeat: no-repeat;
    background-position: 5% 50%;
}

.salary{
    text-align: left;
    width: 230px;
}  


.exp{
    background-image: url('/src/imgs/exp.png');
    background-repeat: no-repeat;
    background-position: 5% 50% ;
    width: 256px;
} 

.dep{
    padding-right: 50px;
    background-image: url('/src/imgs/dep.png');
    background-repeat: no-repeat;
    background-position: 5% 50% ;
    width: 256px;
} 

.search_input {
    /* padding-right: 50px; */
    background-image: url('/src/imgs/search.png');
    background-repeat: no-repeat;
    background-position: 1% 50% ;
}

.skill {
    padding-left: 150px;
    background-image: url('/src/imgs/search.png');
    background-repeat: no-repeat;
    background-position: 1% 50% ;
    width: 256px;
}

.skill-filter {
    width: 286px;
    border-radius: 20px
}

.skill-filter-resume {
    width: 256px;
}

option {
    /* margin-left: 55px; */
    position: end;
    /* text-align: right; */
    padding: 7px ;
    border: 1px solid #CFD3D5;
    border-radius: 8px;
    font-size: 14px;
}

select {
    text-indent: 35px;
    font-size: 18px;
}

.filters-see, .filters {
    display: flex;
    flex-direction: row;
}

.filters-see, .filters p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #53545C;
}

.filters {
    margin-top: 25px;
}

.filter-item {
    margin-right: 50px;
    /* width: 270px; */
}

label {
    color: #83898C;
    font-weight: 400;
    font-size: 16px;
    padding-left: 5px;
}

.checkbox-item {
    margin-top: 10px;
    width: 200px;
}

.hide {
    display: none;
}