.vacansie-item {
    background:  linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #ffcda24f;
    margin-top: 20px;
    padding: 20px;
    width: 700px;
    border-radius: 20px;
    margin-right: 60px;
    backdrop-filter: blur(40px);
}

.vacansie-item p {
    padding: 2px 0;
}

.resume-item {
    background:  linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #ffcda24f;
    margin-top: 20px;
    padding: 20px;
    width:87%;
    border-radius: 10px;
    margin-right: 50px;
}

.vacansie-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.vacansie {
    display: flex;
    line-height: 25px;
    color: #45464E;
    position: relative;
}

.blur {
    color: #656565;
    padding-top: 2px;
}

.vacansie-right {
    background:  linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #ffcda24f;
    margin-top: 20px;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
}




