.vacansie-item {
    background:  linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #ffcda24f;
    margin-top: 20px;
    padding: 20px;
    width:60%;
    border-radius: 10px;
    margin-right: 50px;
    backdrop-filter: blur(40px);
}

.resume-item {
    background:  linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #ffcda24f;
    margin-top: 20px;
    padding: 20px;
    width:90%;
    border-radius: 10px;
    margin-right: 50px;
}

.vacansie-top {
    display: flex;
    justify-content: space-between;
}

.vacansie {
    display: flex;
    line-height: 25px;
}

.blur {
    opacity: .7;
    padding-top: 2px;
}

.vacansie-right {
    background:  linear-gradient(108.58deg, rgba(255, 208, 166, 0.2) 0%, rgba(255, 208, 166, 0) 119.12%);
    border: 1px solid #ffcda24f;
    margin-top: 20px;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
}

