.vacansies-top {
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.vacansies_name_list {
    display: flex;
    margin: 0;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* width: 15%; */
    /* height: 39px; */
    
}

.my{
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    /* width: 15%; */
    /* height: 39px; */
    text-align: center;
    margin: 0 10px;
}

.clicked {
    border-bottom: 4px solid #E58025;
    color: #2B2F32;
    max-width: 160px;
    text-align: center;
    /* font-size: 18px; */

}
.list {
    /* height: 40px; */
    color: #ABAFB1;
    font-size: 14px;
}





.text-field__icon {
    position: relative;
}
.text-field__icon::before {
    content: '';
    color: black;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
}
.text-field__icon .text-field__input {
    
    padding-left: 2rem;
}

.text-field__icon_search::before {
    width: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23bdbdbd' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: auto;
    
}


    
.parametr:focus {
    border-color:  #E58025;
}

input:focus {
    box-shadow: #E58025;
}

/* .vacansie:hover .vacansie-item {
    background: rgba(36, 34, 32, 0.04);
    border: 0.5155px solid rgba(245, 239, 235, 0.16);

}

.vacansie:hover .vacansie-right {
    background: rgba(36, 34, 32, 0.04);
    border: 0.5155px solid rgba(245, 239, 235, 0.16);

} */

.bar_1 {
    width: 600px;
    height: 50px;
    background-image: url('/src/imgs/bar1.png');
    background-repeat: no-repeat;
}

.bar_2 {
    width: 600px;
    height: 50px;
    background-image: url('/src/imgs/bar2.png');
    background-repeat: no-repeat;
}
.bar_3 {
    width: 600px;
    height: 50px;
    background-image: url('/src/imgs/bar3.png');
    background-repeat: no-repeat;
}